.button-container {
    display: inline-block;
    text-align: center;
    margin: 0px 20px;
    border: var(--button-border);
    font-size: var(--button-text-size);
    width: 100px;
    margin: 10px;
  }
  
  .button-container:hover {
    cursor: pointer;
  }


  @media screen and (max-width: 700px) {
    .button-container{
      /* background-color: red; */
      width: 300px;

    }
  }

  .button-value
  {
    /* background-color: aqua; */
  }
