.button-container {
    display: inline-block;
    text-align: center;
    margin: 0px 20px;
    border: var(--button-border);
    font-size: var(--button-text-size);
    width: 200px;
    margin: 10px;
  }
  
  .button-container:hover {
    cursor: pointer;
  }


  @media screen and (max-width: 700px) {
    .button-container{
      color: black;
      background-color: white;
      border-radius: 10px;
      width: 300px;
      padding: 10px;
      font-size: 40px;

    }
  }

