.timer-container {
	background-color: var(--timer-background-color);
	height: var(--timer-height);
	width: var(--timer-width);
	text-align: center;
	/* background-color: blue; */
	margin: 0 auto;
}

.timer-button-container
{
	/* background-color: blue; */
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}


.time-display
{
	/* background-color: aqua; */
	padding: 80px;
	font-size: 100px;
	text-align: center;

}

@media screen and (max-width: 700px) {

.time-display
{
	/* background-color: red; */
	padding: 70px 50px 80px 50px;
	font-size: 90px;
	margin: 0 auto;
}

.timer-container
{
	background: linear-gradient(to right, #000046, #1cb5e0);
}

}