.timer-container {
	background-color: var(--timer-background-color);
	border: var(--timer-border);
	height: var(--timer-height);
	width: var(--timer-width);
	text-align: center;
	/* background-color: blue; */
	margin: 0 auto;
}

.timer-button-container
{
	/* background-color: blue; */
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}


.time-display
{
	/* background-color: aqua; */
	padding: 50px;
	font-size: 100px;
}

@media screen and (max-width: 700px) {

	.time-display
{
	/* background-color: red; */
	padding: 90px;
	font-size: 50px;
}

}